$primary: rgb(49, 151, 173);

$black: #11161B;
$black-bis: #181E26;
$gray: rgb(158, 158, 158);
$white: white;

$accent: #83E4E4;
$accent-darker: rgb(72, 109, 109);
$pre-accent: rgb(252, 232, 165);
$blue: rgb(124, 218, 255);
