@mixin buttonHeader {
  .button-header {
    padding: 5px 10px;

    display: flex;
    align-items: center;
    height: min-content;
    width: min-content;

    position: relative;

    &__left {
      &.button-header:before {
        transform: skew(-170deg);
      }
    }

    &__right {
      &.button-header:before {
        transform: skew(170deg);
      }
    }

    & > * {
      font: normal, normal, bold, 14px/16px, Roboto Mono, Serif;
      color: $black;
      z-index: 2;
    }

    &:before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: 1;
      background: $accent;
      border: 1px solid transparent;
      border-radius: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $white;

      &:before {
        background: transparent;
        border: 1px solid $accent;
      }
    }
  }
}